.wrapper {
	overflow: auto;
	height: 450px;
	display: flex;
	flex-flow: column;
}

.wrapper .graph {
	height: 100%;
	display: flex;
}

.wrapper .bottom {
	position: absolute;
	overflow: hidden;
	bottom: 1rem;
	left: 1rem;
}

